.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;

  /* top: 0px;  */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 74px;
  /* box-shadow: 0 1px 0 0 hsla(0,0%,100%,.1); */
}

.navbarContainer {
  width: 100%;
  height: clamp(4.625rem, 4.4464rem + 0.8929vw, 5.25rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 24px; */
  padding: 20px clamp(1.125rem, -0.2679rem + 6.9643vw, 6rem);
  background: var(--background-dark);
  z-index: 3;
  
  background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(45deg, #1f8284, #66436e) border-box;
              /* linear-gradient(45deg, rgba(31, 131, 133, 0.8), rgba(31, 131, 133, 0.4)) border-box; */
              /* linear-gradient(45deg, rgba(179,205,206, 0.5), rgba(179,205,206, 0.2)) border-box; */
              /* linear-gradient(45deg, rgba(31, 131, 133, 0.6), rgba(143, 150, 199, 0.6)) border-box; */
  /* background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(45deg, rgba(47,194,197, 0.5), rgba(144, 95, 155, 0.5)) border-box; */
  border: 3px solid transparent;
  /* border-radius: 20px; */
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.logoNavbar {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;

  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  z-index: 1000;
}

.logoNavbarVisible {
  opacity: 0.8;
}

.logoImageSmall {
  width: 100%;
  height: auto;
  max-width: 49px;
}

.logoNameSmall {
  width: 100%;
  height: auto;
  max-width: 175px;
}

.menuBarIcon {
    cursor: pointer;
  }

.logoMobileSmall {
  display: none;
}

@media (max-width: 501px) {
  .navbarContainer {
    background-color: var(--background-dark);
    /* background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(45deg, rgba(31, 131, 133, 0.6), rgba(31, 131, 133, 0.3)) border-box; */
    
    /* border: 1.5px solid transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0; */

    /* box-shadow: 0 0.2px 2px rgba(179,205,206, 0.4); */
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .menuBarIcon {
    width: 28px;
    height: auto;
  }

  .logoMobileSmall {
    display: block;
    opacity: 0.7;
    max-width: 64px;
  }

  .logoNameSmall {
    /* max-width: 200px;
    opacity: 0.7; */
    display: none;
  }

  .logoImageSmall {
    /* max-width: 43px;
    height: auto;
    opacity: 0.7; */
    display: none;
  }

  .logoNavbar {
    gap: 6px;
  }
}