.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;

  /* top: 0px;  */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 74px;
  box-shadow: 0 1px 0 0 hsla(0,0%,100%,.1);
}

.navbarContainer {
  width: 100%;
  height: clamp(4.625rem, 4.4464rem + 0.8929vw, 5.25rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 24px; */
  padding: 20px 24px;
  background: var(--background-dark);
  z-index: 3;
  
  background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(45deg, #1f8284, #66436e) border-box;
  /* background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(45deg, rgba(47,194,197, 0.5), rgba(144, 95, 155, 0.5)) border-box; */
  border: 2px solid transparent;
  /* border-radius: 20px; */
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.logoNavbar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;

  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  @media (max-width: 375px) {
    gap: 6px;
  }
}

.logoNavbarVisible {
  opacity: 0.5;
}

.logoImageSmall {
  width: 100%;
  height: auto;
  max-width: 49px;
  @media (max-width: 375px) {
    max-width: 35px;
    height: auto;
  }
}

.logoNameSmall {
  width: 100%;
  height: auto;
  max-width: 175px;
  @media (max-width: 375px) {
    max-width: 130px;
  }
}