.descriptionContainer {
  width: 100%;
  height: auto; 

  margin-top: clamp(3.375rem, 0.4412rem + 6.1765vw, 6rem);
  /* padding-left: 10vw;
  padding-right: 10vw; */
  /* padding: 0 clamp(2.25rem, 1.1786rem + 5.3571vw, 6rem); */
  padding: 0 clamp(1.125rem, -0.2679rem + 6.9643vw, 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionBox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  padding: 0px 5%;
}

.descriptionTextContainer {
  width: clamp(300px, 60vw, 993px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This centers the element */
  z-index: 2;

  color: #cbcbcb;
  font-family: var(--font-agrandir);
  font-size: clamp(1rem, 3.2vw, 3rem);
  /* font-size: 48px; */
  text-align: center;
}

.descriptionBoxBorderDesktop {
  width: 100%;
  height: auto;
  max-width: 1106px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This centers the element */
  z-index: 1;
}

.descriptionBoxBorderMobile {
  display: none;
  width: 800px;
  height: auto;

  @media (max-width: 1023px) {
    width: 600px;
    height: auto;
  }

  @media (max-width: 607px) {
    width: 400px;
    height: auto;
  }

  @media (max-width: 502px) {
    width: 320px;
    height: auto;
  }

  @media (max-width: 430px) {
    width: 260px;
    height: auto;
  }
}

.descriptionTextContainerMobile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  color: #cbcbcb;
  font-family: var(--font-agrandir);
  font-size: 48px;
  text-align: left;
  
  margin: 3.5em 1.9em;

  /* @media (max-width: 1152px) {
    font-size: 36px;
    margin: 2em 1.05em;
  } */

  @media (max-width: 1023px) {
    font-size: 36px;
    margin: 3.2em 2.6em;
    text-align: left;
  }

  @media (max-width: 607px) {
    font-size: 28px;
    margin: 2.4em 1.5em;
    text-align: left;
  }

  @media (max-width: 502px) {
    font-size: 18px;
    margin: 4em 1.8em;
    text-align: left;
  }

  @media (max-width: 430px) {
    font-size: 16px;
    margin: 3.1em 2.3em;
    text-align: left;
  }
}


.descriptionBoxBorder {
  width: 100%;
  height: auto;

  /* padding: 100px 50px; */
  padding: clamp(2.25rem, 1.1786rem + 5.3571vw, 6rem) clamp(1.6875rem, 0.8839rem + 4.0179vw, 4.5rem);

  background: linear-gradient(var(--background-dark), var(--background-dark)) padding-box,
              linear-gradient(to bottom, #2FC2C5, #905F9B) border-box;
  border: 5px solid transparent;
  border-radius: 25px;

  display:flex;
  align-items: center;
  justify-content: center;
}

.descriptionText {
  width: auto;
  /* font-size: clamp(1.5rem, 0.3125rem + 2.5vw, 3rem); */
  font-size: 48px;
  color: #cbcbcb;
  font-family: var(--font-agrandir);
  text-align: center;
  

  @media (max-width: 1124px) {
    text-align: left;
    /* font-size: 36px; */
  }

  @media (max-width: 1059px) {
    text-align: left;
    /* font-size: 36px; */
    font-size: clamp(1.125rem, 0.6379rem + 2.4357vw, 2.25rem);
  }

  /* @media (max-width: 563px) {
    text-align: left;
    font-size: 24px;
  } */
}