.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
  /* padding-top: 84px; */
}

.body {
  /* padding: 0px 32px; */
  padding: 0 clamp(1.125rem, -0.2679rem + 6.9643vw, 6rem);
}

.header {
  width: 100%;
  /* height: 100vh; */
  padding: 28px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  @media (max-width: 501px) {
    padding: 36px 0px 16px 0px;
    gap: clamp(2.25rem, -0.8439rem + 15.4696vw, 4rem);
    justify-content: space-between;
  }
}

.headerSubtitle {
  font-family: var(--font-agrandir-grand-bold);
  color: var(--text-03);
  font-size: clamp(0.5rem, 0.1211rem + 1.8945vw, 1.375rem);
  letter-spacing: 3.08px;
  
  @media (max-width: 501px) {
    display: none;
  }
}

.logoImageLarge {
  width: 100%;
  height: auto;
  min-width: 201px;
  /* min-height: 221px; */
  max-width: 502px;
  /* max-height: 442px; */
}

.logoNameLarge {
  width: 100%;
  height: auto;
  max-width: 1248.03px;
  @media (max-width: 502px) {
    display: none;
  }
}

.chevronDownIcon {
  @media (max-width: 501px) {
    display: none;
    /* width: 18%;
    height: auto;
    opacity: 30%; */
  }
}

.logoNameMobile {
  width: 100%;
  height: auto;
  max-width: 450px;
  @media (min-width: 502px) {
    display: none;
  }
}